<h1>Convert <%= @root_currency %> to <%= @target_currency %> </h1>

<p>1 <%= @root_currency %> equals <%= @convert_result %> <%= @target_currency %>.</p>

<p>Go <a href="/<%= @root_currency %>">back</a></p>
